.categories {
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: flex-start;
    box-sizing: border-box;
    overflow-x: auto;
    scrollbar-width: none;
}

.item, .active {
    flex: 0 0 auto; /* <<< добавь это */
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 32px;
    background-color: #F2F4F5;
    cursor: pointer;
}

.active {
    background-color: #E7E7FF;
    color: #6B4EFF;
    cursor: default;
}

::-webkit-scrollbar {
    display: none;
}
